<!DOCTYPE html>
<html>
  <head>
    <title>WeglotRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'pricing', static_pricing_path %>
    <%= link_to 'terms', static_terms_path %>
    <%= link_to 'privacy', static_privacy_path %>
    <%= link_to 'about', static_about_path %>
    <%= yield %>
  </body>
</html>
